<style>
    header{
        display: none;
    }

    .nav-item a{
        margin-left: 16px;
    }

    .warn-box{
        background: #e8e7e7;
    }

    .image{
        background-color: black;
    }
    

    .image i{
        display: block;
        position: absolute;
        margin-top: -100px;
        margin-left: 100px;
        transform: translate(-50%, -50%);
        color: #fff;
        opacity: 0;
    }

    .image a{
        transition: .5s;
    }

    .image i{
        transition: .5s;
    }

    .image img:hover + i, .image i:hover{
        opacity: 1;
    }

    .image a:hover{
        opacity: .5;
    }
</style>

<script src='/fontAwesome.js' crossorigin='anonymous'></script>

<div class="d-flex">

    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light border-end me-5" style="width: 280px; height: 100vh;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto ps-3 link-dark text-decoration-none fs-4" style="color: rgba(0,0,0,.65);"> &lt; Go Back </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/user/home" class="nav-link link-dark">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href="/user/edit-pass" class="nav-link link-dark">
                    Reset Password
                </a>
            </li>
            <li class="nav-item">
                <a href="/user/logout" class="nav-link link-dark text-danger">
                Logout
                </a>
            </li>
            <li class="nav-item">
                <a href="/user/delete" class="nav-link link-dark text-danger">
                    Delete Account
                </a>
            </li>
        </ul>
        
        <hr>
        <div class="profile-info ps-3">
            <img src="data:<%=user.picture_type%>;base64,<%=user.picture.toString('base64')%>" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong><%= user.username %></strong>
        </div>
    </div>

    <div class="contnet">
        <div class="warn-box border border-danger border-top-0 ps-1 pe-1 text-center text-danger rounded-bottom" <% if(user.is_verified) { %> style="display: none" <% } %> >
            <span> Warning! We've Sent You a Confirmation Email. Please confirm Your Email or Your Account Will be Deleted In 24 Hours.  </span>
        </div>    
       
        <div  class="d-flex align-items-center mt-5 mb-4 pt-3">
            <div class="image me-5 rounded-circle">
                <a type="button" class="d-inline-block rounded-circle" data-bs-toggle="modal" data-bs-target="#myModalPic">
                    <img src="data:<%=user.picture_type%>;base64,<%=user.picture.toString('base64')%>" alt="" width="200" height="200" class="rounded-circle">
                    <i class="fs-3 far fa-edit"></i>
                </a>

                <div class="modal fade" id="myModalPic">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Change Profile Picture</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="/user/update-picture" method="POST" enctype="multipart/form-data">
                            <div class="modal-body">
                                
                                    <div class="mb-3">

                                    <label for="picture" class="form-label">Profile Picture</label>
                                    <input type="file" name="picture" class="form-control" id="picture" aria-describedby="pictureHelp">
                                    
                                    <input type="hidden" value="<%= user.id %>" name="id">
                                    
                                    </div>     
                                
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-outline-success">Save changes</button>
                            </div>
                        </form>
                      </div>
                    </div>
                </div>

            </div>

            <div class="about" >
                <p class="fs-1 fw-normal d-inline-block">
                
                    <%= user.username %> 
                
                </p> 
                <span style="font-size: 20px;">
                    (<a type="button" class="text-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                    Change
                    </a>)
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Change Username</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="/user/update-name" method="POST">
                                <div class="modal-body">
                                    
                                        <div class="mb-3">
    
                                        <label for="username" class="form-label">Username</label>
                                        <input type="text" name="username" maxlength="15" value="<%= user.username %>" class="form-control" id="username" aria-describedby="usernameHelp">
                                        <span class="form-text text-danger display-6"> Your Username will not be changed if it is alredy being used. </span>
    
                                        <input type="hidden" value="<%= user.id %>" name="id">
                                        
                                        </div>     
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-outline-success">Save changes</button>
                                </div>
                            </form>
                          </div>
                        </div>
                    </div>
                </span>
                <% if(typeof error != 'undefined' && error != ''){ %> <p class="text-danger"><%= error %></p> <% error = ''; } %>
                <p class="fs-4 fw-normal"><%= user.email %>
                <% if(user.is_verified) { %> <span class="fs-6 fw-normal text-success"> Verified Account </span>   <% }else{ %> <span class="fs-6 fw-normal text-danger"> Unverified Account  </span> <% } %>
                
                </p>
                
                <p style="max-width: 600px; font-size: 18px;" class="d-inline-block">
                    
                    <%= user.bio %>
                
                    <span style="font-size: 20px;">
                        (<a type="button" style="font-size: 18px;" class="test-primary" data-bs-toggle="modal" data-bs-target="#myBioModal">
                        <% if(user.bio.trim() == ''){ %> Add Bio <% }else{%> Change <%}%>
                        </a>)
                        <div class="modal fade" id="myBioModal">
                            <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Change Bio</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form action="/user/update-bio" method="POST">
                                    <div class="modal-body">
                                        
                                            <div class="mb-3">
    
                                            <label for="bio" class="form-label">Bio</label>
                                            <textarea name="bio" class="d-block" id="bio" cols="53" maxlength="150" style="resize: vertical; min-height: 100px; max-height: 250px; font-size: 15px;"><%= user.bio %></textarea>
                                            <span class="form-text text-danger display-6"> Maximum number of characters is 150 </span>
    
                                            <input type="hidden" value="<%= user.id %>" name="id">
                                            
                                            </div>     
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-outline-success">Save changes</button>
                                    </div>
                                </form>
                            </div>
                            </div>
                        </div>
                    </span>
                </p>
                
                <% if(typeof errorBio != 'undefined' && errorBio != ''){ %> <p class="text-danger"><%= errorBio %></p> <% error = ''; } %>
            </div>
            
            
            
        </div>

        <hr style="min-width: 65vw;">
        
        <!-- <div class="posts">

        </div> -->

    </div>
</div>
