<style>
.center {
  height: calc(100vh - 56px);
  width: 100vw;
  background-color: #eee;
}

.inner-center {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
</style>


<div class="container" style="background-color: #eee;">
  <% if(typeof posts != undefined && posts){%>
    <% posts.reverse().forEach(post => {  %>
        <article class="d-flex justify-content-center">
          <div class="post" style="width: 750px;">
            <div class="profile-data mb-3 mt-3">
                <% users.forEach(user => { %>
                  <% if(user._id == post.user_id) {%>
                    <img src="data:<%=user.picture_type%>;base64,<%=user.picture.toString('base64')%>" alt="" width="32" height="32" class="rounded-circle me-2">
                    <a class="text-dark" style="text-decoration: none;" href="/users/display/<%= user._id %>"> <strong><%= user.username %> </strong></a>
                  <%}%>
                <% }) %>
              </div>
              <% if(post.media_data != '') {%>
                <img src="data:<%=post.media_type%>;base64,<%=post.media_data.toString('base64')%>" alt="post image" class="pb-3" style="max-height: 1000px; width: 750px;">
              <% } %>
              <div> <%= post.description %> </div>
              <!-- <span class="text-info"> <%=//post.createdAt%> </span> -->
                
          </div>
            
        </article>
        <hr>
    <% }) 
  }%>
  </div>